name: Scan and Remediate

on:
  push:
    paths:
      - 'iac/**'
  workflow_dispatch:

jobs:
  scan_and_fix:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Checkov and jq
        run: pip install checkov jq

      
      - name: Run Checkov scan
        run: |
          checkov -d ./iac -o json > checkov_report.json || true

      
      - name: Parse Checkov results
        run: |
          echo "Checkov scan completed. Violations found:"
          jq '.results.failed_checks[] | {check_id, resource, file_path}' checkov_report.json

      
      - name: Upload Checkov Report
        uses: actions/upload-artifact@v3
        with:
          name: checkov-report
          path: checkov_report.json

      
      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2

      
      - name: Terraform Init (Remediation)
        run: terraform init
        working-directory: ./remediation

      
      - name: Terraform Apply (Remediation)
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: terraform apply -auto-approve
        working-directory: ./remediation
